body{
  font-family: Arial, sans-serif;
  font-size: 100%;
  background-color: #222222;
}

header{
  padding: 50px 0;
  background-color: #191C27;
}

h1, h2{
  color: #FF220C;
  text-align: center;
}

p{
  font-size: 16px;
  line-height: 1.3;
  margin-top: 0.1em;
  margin-bottom: 0;
  color: #ff00ff;
  margin-left: 20px;
}

footer{
  background-color: #120321;
  color: #373F51;
  padding: 20px 0;
  margin-top: 30px;
}

.inline-img{
  text-align: center;
  margin-top: 20px;
}

.inline-img img{
  width: 250px;
  display: inline-block;
  border-radius: 15px;
  transform: scale(0.95);
  transition: .3s;
  max-width: 35%;
}

.inline-img img:hover{
  transform: scale(1);
}

.multimedia{
  overflow: auto;
  margin-left: 70px
}

.multimedia-video{
  display: inline-block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
  box-sizing: border-box;
}

.multimedia audio{
  margin-top: 60px;
}
